[Unit]
Description=Traefik
{% for service in devture_traefik_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill devture-traefik 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm devture-traefik 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name=devture-traefik \
			--log-driver=none \
			--network={{ devture_traefik_container_network }} \
			{% if devture_traefik_container_web_host_bind_port %}
			-p {{ devture_traefik_container_web_host_bind_port }}:{{ devture_traefik_config_entrypoint_web_port }} \
			{% endif %}
			{% if devture_traefik_container_web_secure_host_bind_port %}
			-p {{ devture_traefik_container_web_secure_host_bind_port }}:{{ devture_traefik_config_entrypoint_web_secure_port }} \
			{% endif %}
			{% for additional_entrypoint in devture_traefik_additional_entrypoints %}
			-p {{ additional_entrypoint.host_bind_port }}:{{ additional_entrypoint.port }} \
			{% endfor %}
			--env-file={{ devture_traefik_config_dir_path }}/env \
			--label-file={{ devture_traefik_config_dir_path }}/labels \
			--mount type=bind,src={{ devture_traefik_config_dir_path }},dst=/config,ro \
			{% if devture_traefik_ssl_dir_enabled %}
			--mount type=bind,src={{ devture_traefik_ssl_dir_path }},dst=/ssl \
			{% endif %}
			--mount type=bind,src=/var/run/docker.sock,dst=/var/run/docker.sock,ro \
			{{ devture_traefik_container_image }} \
			{% if devture_traefik_container_extra_arguments | length > 0 %}
			{{ devture_traefik_container_extra_arguments | join(" ") }} \
			{% endif %}
			--configFile=/config/traefik.yml

{% for network in devture_traefik_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} devture-traefik
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach devture-traefik

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} kill devture-traefik 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm devture-traefik 2>/dev/null || true'
Restart=always
RestartSec=30
SyslogIdentifier=devture-traefik

[Install]
WantedBy=multi-user.target
