#jinja2: lstrip_blocks: "True"
# https://doc.traefik.io/traefik/reference/static-configuration/file/
#
# To extend this:
# - tweak the individual variables
# - use `devture_traefik_configuration_extension_yaml` to override statically defined values or introduce new ones
global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: {{ devture_traefik_config_log_level | to_json }}

accessLog: {}

api:
  dashboard: {{ devture_traefik_config_api_dashboard | to_json }}

entryPoints:

{% if devture_traefik_config_entrypoint_web_enabled %}
  web:
    address: {{ devture_traefik_config_entrypoint_web_address | to_json }}

    {% if devture_traefik_config_entrypoint_web_to_web_secure_redirection_enabled %}
    http:
      redirections:
        entryPoint:
          to: {{ devture_traefik_config_entrypoint_web_secure_name }}
          scheme: https
    {% endif %}
{% endif %}

{% if devture_traefik_config_entrypoint_web_secure_enabled %}
  {{ devture_traefik_config_entrypoint_web_secure_name }}:
    address: {{ devture_traefik_config_entrypoint_web_secure_address | to_json }}
{% endif %}

{% for additional_entrypoint in devture_traefik_additional_entrypoints %}
  {% set additional_entrypoint_config = ({
	  'address': ':' + (additional_entrypoint.port | string),
    }) | combine(additional_entrypoint.config)
  %}

  {{ additional_entrypoint.name }}: {{ additional_entrypoint_config | to_json }}
{% endfor %}

certificatesResolvers:
  default:
    acme:
      email: {{ devture_traefik_ssl_email_address | to_json }}
      storage: /ssl/acme.json
      caServer: {{ devture_traefik_config_letsencrypt_resolver_caServer | to_json }}
      httpChallenge:
        entrypoint: {{ devture_traefik_config_letsencrypt_httpChallenge_entrypoint | to_json }}

providers:
  docker:
    exposedByDefault: false
    network: {{ devture_traefik_container_network | to_json }}
  file:
    filename: /config/provider.yml
